* {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("pattern.jpeg");
  text-align: center;
}
#brushes{
  background-color: mediumspringgreen;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#frames{
  background-color: lightcoral;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#paint{
  background-color: skyblue;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
